{% extends 'base.html' %}
{% block title %}Welcome | Developer Salary Guide{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4">
    <img src="../static/images/developer-salary-guide-icon.png" alt="Software Engineer Illustration" id="main-image">
    </div>
    <div class="col-4 my-auto"><h3>Developer Salary Guide</h3><h4> was created to use machine learning techniques to assist in obtaining a competitive salary offer for resources hired at Triple Crown Consulting.</h4></div>
</div>
<hr>

   <p>This Software Developer Salary Guide was created to use machine learning techniques to assist in obtaining a competitive salary offer for resources at Triple Crown Creative.</p>

    <h2>The Problem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3>The Solution</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <hr>
    <p>Maybe a note here about the source of the data set. To use the tool, be sure you have logged in using the Google authentication available below.</p>
    <p><a href="https://iconscout.com/illustrations/software-engineer" target="_blank">Software engineer Illustration</a> by <a href="https://iconscout.com/contributors/delesign">Delesign Graphics</a> on <a href="https://iconscout.com">Iconscout</a></p>

{% endblock %}