{% extends 'base.html' %}
{% block title %}Welcome | Developer Salary Guide{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="../static/images/developer-salary-guide-icon.png" alt="Software Engineer Illustration"
                 id="main-image">
        </div>
        <div class="col-4 my-auto"><h2>Developer Salary Guide</h2><h4> was created to use machine learning techniques to
            assist in obtaining a competitive salary offer for resources hired at Triple Crown Consulting.</h4></div>
    </div>
    <hr>

    <p>This Software Developer Salary Guide was created to use machine learning techniques to assist in obtaining a
        competitive salary offer for resources at Triple Crown Consulting.</p>

    <h3>The Problem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <h3>The Solution</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <h3>The Methodology</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>

    <p>To use the tool, be sure you have logged in using your Google account. If you dod not have a Google account, you
        can <a href="https://accounts.google.com/Signup" target="_blank">Create a Google Account</a>.</p>
    <hr>

    <h4>Sources</h4>
    <p>This data product was made possible by open data contributions by the active community at <a
            href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>.</p>
    <p><a href="https://iconscout.com/illustrations/software-engineer" target="_blank">Software engineer
        Illustration</a> by <a href="https://iconscout.com/contributors/delesign">Delesign Graphics</a> on <a
            href="https://iconscout.com">Iconscout</a></p>

{% endblock %}