{% extends 'base.html' %}
{% block title %}Welcome | Developer Salary Guide{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="../static/images/developer-salary-guide-icon.png" alt="Software Engineer Illustration"
                 id="main-image">
        </div>
        <div class="col-4 my-auto"><h2>Developer Salary Guide</h2><h4> was created to use machine learning techniques to
            assist in obtaining a competitive salary offer for resources hired at Triple Crown Consulting.</h4></div>
    </div>
    <div class="progress">
        <br/>
        <div class="progress-bar my-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <br/>
    </div>

    <p>This Software Developer Salary Guide was created to use machine learning techniques to assist in obtaining a
        competitive salary offer for resources at Triple Crown Consulting.</p>

    <h3>The Problem</h3>
    <p>Hiring in the software development industry is fast-paced, and your company has requested proposals to offer
        solutions that can potentially enable faster hiring decisions by qualified candidates.</p>
    <h3>The Solution</h3>
    <p>The solution enables data-driven decisions, eliminating emotion or stress from the salary
        negotiation process. This will benefit Triple Crown Consulting team members directly but will also lead to more
        satisfied new hires
        being onboarded to work on development project for end clients. The live data product is also sustainable and
        will not rely on a single individual or maintenance of an internal knowledge base.</p>
    <h3>The Methodology</h3>
    <p>The solution is be a browser-based web portal, where employees can login from anywhere and obtain a salary
        suggestion for a specific software developer candidate. The tool does not require any technical capabilities and
        will be accessed through an intuitive user interface which will clearly deliver a salary guideline for making an
        offer.</p>

    <p>To use the tool, be sure you have logged in using your Google account. If you dod not have a Google account, you
        can <a href="https://accounts.google.com/Signup" target="_blank">Create a Google Account</a>.</p>
    <div class="progress">
        <br/>
        <div class="progress-bar my-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <br/>
    </div>

    <h4>Sources</h4>
    <p>This data product was made possible by open data contributions by the active community at <a
            href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>.</p>
    <p><a href="https://iconscout.com/illustrations/software-engineer" target="_blank">
        Illustrations</a> by <a href="https://iconscout.com/contributors/delesign">Delesign Graphics</a> on <a
            href="https://iconscout.com">Iconscout</a></p>

{% endblock %}