{% extends 'base.html' %}
{% block title %}Developer Salary Guide{% endblock %}

{% block content %}

    <h1>Interactive Salary Area</h1>

    <div class="progress">
        <br/>
        <div class="progress-bar my-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <br/>
    </div>

    <p>this area will be interactive content for the project</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="row center">
        <form action='/predict' method="POST" class="col s12" id="advisorForm" onsubmit="submitButton.disabled = true; return true;">
            <div class="row">
        <div class="input-field col s4">
            <label for="educationLevel" class="form-label">Education Level</label>
            <input id="educationLevel" name='EducationLevel' type="range" class="form-range validate" min="0"
                   max="8"
                   value="0" oninput="this.nextElementSibling.value = this.value">
            <output class="text-center">0</output>
        </div>
        <div class="input-field col s4">
            <label for="yearsCode" class="form-label">Years of Coding</label>
            <input id="yearsCode" name='YearsCode' type="range" class="form-range validate" min="0" max="51"
                   value="0"
                   oninput="this.nextElementSibling.value = this.value">
            <output class="text-center">0</output>
        </div>
        <div class="input-field col s4">
            <label for="yearsCodePro" class="form-label">Years of Coding Professionally</label>
            <input id="yearsCodePro" name='YearsCodePro' type="range" class="form-range validate" min="0"
                   max="51" value="0"
                   oninput="this.nextElementSibling.value = this.value">
            <output class="text-center">0</output>
        </div>

    </div>

    <div class="row center">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary" name="submitButton">Advise on Salary</button>
        </div>
    </div>
    </form>
    <div>
        <br/>
        <h4 class="text-center">{{ predictiontext }}</h4>
    </div>


    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <hr>


    <h1>Recruiter Information Area</h1>
    <div class="progress">
        <br/>
        <div class="progress-bar my-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <br/>
    </div>

    <p>this area will be content for the project</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <blockquote>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>


    <div class="progress">
        <br/>
        <div class="progress-bar my-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <br/>
    </div>
    <div class="card my-4">
        <img src='{{ current_user.profile_pic }}' alt='Google profile pic' style="width:100%">
        <h3>Logged in as:</h3>
        <h5>{{ current_user.name }}</h5>
        <h5 class="title">{{ current_user.email }}</h5>
        <p><a class="btn btn-primary" href="/logout">Logout</a></p>
    </div>
    </div>
{% endblock %}